

@mixin mobile {
    @media (max-width: 568px) {
        @content;
    }
}

@mixin pad {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 960px) {
        @content;
    }
}

.header {
    background-size: cover;
    background-position: center center;
    background-image: url(../asset/img/header_desktop.png);
    background-repeat: no-repeat;
    @include mobile {
        background-image: url(../asset/img/header_mobile.png);
    }
    .banner {
        min-height: 420px;
    }
    .menu ul a {
        display: block;
        &:hover {
            font-weight: bolder;
        }
    }
    .hamburger-menu {
        display: none;
    }
    @include pad {
        .header .hamburger-menu {
            display: block;
            float: right;
        }
    }
    .content {
        background: #000;
    }
    @include desktop {
        .content {
            float: left;
            width: 48%;
        }
    }
    .content li {
        color: #000;
    }
    @include pad {
        .content li {
            color: #ff0000;
        }
    }
    @include mobile {
        .content li {
            display: none;
        }
    }
}
